include ../../includes/views-main

- title = "Nightly T-REX | Create an account";

+main
  
  #connect-account-steps(name="account.connect", data-win-control="MajesticWaffle.UI.StepsAssistant", data-win-options="{}")
    
    .login.step
    
      h2.win-h2 Connect
      p Connect to your account and start playing
      
      - var emailConstraints = "{ presence: true, email: true }"
      .entry(data-win-control="MajesticWaffle.UI.FormEntry",
             data-win-options="{label:'email', name:'email', hint:'Entre the email you want to associate to this account', type:'email', confirm:false, validation:{async:false, checkPoint:''}, constraints: #{emailConstraints} }")

      - var passwordConstraints = "{ presence: true, length: { minimum: 5, maximum: 20 } }"
      .entry(data-win-control="MajesticWaffle.UI.FormEntry",
             data-win-options="{label:'password', name:'password', hint:'Entre the password', type:'password', confirm:false, validation:{async:false, checkPoint:''}, constraints: #{passwordConstraints} }")

      a.win-link(data-win-control="MajesticWaffle.UI.Link", data-win-options="{scenario: NightlyTrex.scenarios[1]}")#create-account-link Don't have an account yet ?
      a.win-link(data-win-control="MajesticWaffle.UI.Link", data-win-options="{scenario: NightlyTrex.scenarios[3]}")#forgot-password-link Forgot your password ?

  script(src="/assets/components/majestic-waffle/StepsAssistant/modules/Step.js")
  script(src="/assets/components/majestic-waffle/StepsAssistant/StepsAssistant.js")
  script(src="/assets/js/views.scripts/account/connect.js")
