include ../../includes/views-main

- title = "Nightly T-REX | Create an account";

+main
  
  #create-account-steps(name="account.create", data-win-control = "MajesticWaffle.UI.StepsAssistant", data-win-options="{}")

    .welcome.step

      h2.win-h2 Welcome to Nightly T-REX

      p In the next 4 steps, you will be walked through
        | by this assistant and asked to enter basic informations that are needed 
        | in order to have the best experience while playing.
      p If you already have an account, 
        a.win-link(data-win-control="MajesticWaffle.UI.Link", data-win-options="{scenario: NightlyTrex.scenarios[2]}") click here
      p.win-type-caption Most informations are required, make sure to enter proper informations to avoid problems
      
    .login.step

      h2.win-h2 Sign-Up:

      p Basic infos are needed for saving your scores and further contact &#x263A;

      - var emailConstraints = "{ presence: true, email: true }"
      .entry(data-win-control="MajesticWaffle.UI.FormEntry",
             data-win-options="{label:'email', name:'email', hint:'Entre the email you want to associate to this account', type:'email', confirm:false, validation:{async:false, checkPoint:''}, constraints: #{emailConstraints} }")

      - var passwordConstraints = "{ presence: true, length: { minimum: 5, maximum: 20 } }"
      .entry(data-win-control="MajesticWaffle.UI.FormEntry",
             data-win-options="{label:'password', name:'password', hint:'Entre the password', type:'password', confirm:true, validation:{async:false, checkPoint:''}, constraints: #{passwordConstraints} }")

    .country.step

      h2.win-h2 Country and Birthday:

      p Select your Country and Birthday:

      - var countryConstraints = "{ presence: true }"
      .entry(data-win-control="MajesticWaffle.UI.FormEntry",
             data-win-options="{label:'country', name:'country', hint:'Select your country', type:'MajesticWaffle.UI.FormDropDown', dataOptions: {data: NightlyTrex.countries}, confirm:false, validation:{async:false, checkPoint:''}, constraints: #{countryConstraints} }")
      
      - var birthdayConstraints = "{ presence: true, date: { latest: MajesticWaffle.Utilities.underage, message: '^You must be at least 18 years old to use this service' } }"
      .entry(data-win-control="MajesticWaffle.UI.FormEntry",
             data-win-options="{label:'birthday', name:'birthday', hint:'Enter your birthday', type:'WinJS.UI.DatePicker', confirm:false, validation:{async:false, checkPoint:''}, constraints: #{birthdayConstraints} }")
      
    .avatar.step

      h2.win-h2 Name &amp; Avatar

      p Your avatar will appear in front of your login on the global score board, when you submit your score.

      - var loginConstraints = "{ presence:true , length: { minimum: 4, maximum: 20 }, format: { pattern: '[a-z0-9]+', flags: 'i', message: 'Can only contain a-z and 0-9' } }"
      .entry(data-win-control="MajesticWaffle.UI.FormEntry",
             data-win-options="{label:'User name', name:'user-name', hint:'Entre your user name', type:'text', confirm:false, validation:{async:false, checkPoint:''}, constraints: #{loginConstraints} }")

      //- .profile-picture-wrapper
      //-   .entry(data-win-control="MajesticWaffle.UI.FormEntry",
      //-         data-win-options="{label:'Profile picture', name:'profile-picture', hint:'Select your profile picture', type:'MajesticWaffle.UI.FilePicker', dataOptions: {multiple: false}, confirm:false }")
      //-   img#profile-picture-preview
          

    .summery.step

      h2.win-h2 Final step:

      p Please verify your entries:

      hr

      div#summery(data-win-control="MajesticWaffle.UI.FormEntriesSummery", data-win-options="{}")

      hr      

      p.win-type-caption By clicking the submit button you agree to the 
        a.win-link(data-win-control="MajesticWaffle.UI.Link", data-win-options="{scenario: NightlyTrex.scenarios[7]}") Privacy Policy
        |  &amp; 
        a.win-link(data-win-control="MajesticWaffle.UI.Link", data-win-options="{scenario: NightlyTrex.scenarios[8]}") Terms of Services
        
  script(src="/assets/components/majestic-waffle/StepsAssistant/modules/Step.js")
  script(src="/assets/components/majestic-waffle/StepsAssistant/StepsAssistant.js")
  script(src="/assets/components/majestic-waffle/FormEntry/FormEntry.js")
  script(src="/assets/components/majestic-waffle/FilePicker/FilePicker.js")
  script(src="/assets/components/majestic-waffle/FormEntriesSummery/FormEntriesSummery.js")
  script(src="/assets/js/views.scripts/account/create.js")
