include ../../includes/views-main

- title = "Nightly T-REX | Recover your password";

+main

  header
    button(data-win-control="WinJS.UI.BackButton")
    h2.win-h2.win-type-subtitle Forgot your password

 #forgot-password-steps(data-win-control="MajesticWaffle.UI.StepsAssistant", data-win-options="{}")
    
    .forgot.step

      - var emailConstraints = "{ presence: true, email: true }"
      .entry(data-win-control="MajesticWaffle.UI.FormEntry",
             data-win-options="{label:'email', name:'email', hint:'Entre your Email to recover your password', type:'email', confirm:false, validation:{async:false, checkPoint:''}, constraints: #{emailConstraints} }")

      p We will send you a link to this Email address, please  click or copy/paste it in your browser and follow the instructions