include ../../includes/views-main

- title = "Nightly T-REX | User Profile";

+main

  //- header
  //-   button(data-win-control="WinJS.UI.BackButton")
  //-   h2.win-h2.win-type-subtitle User Profile     

  #user-details
    #edit-account-steps(name="account.profile.edit", data-win-control="MajesticWaffle.UI.StepsAssistant", data-win-options="{}")
      .edit.step
        .profile-picture-wrapper
          .entry(data-win-control="MajesticWaffle.UI.FormEntry",
                data-win-options="{label:'Profile picture', name:'profile-picture', hint:'Select your profile picture', type:'MajesticWaffle.UI.FilePicker', dataOptions: {multiple: false}, confirm:false }")
          img#profile-picture-preview
            
        - var loginConstraints = "{ presence:true , length: { minimum: 4, maximum: 20 }, format: { pattern: '[a-z0-9]+', flags: 'i', message: 'Can only contain a-z and 0-9' } }"
        .entry(data-win-control="MajesticWaffle.UI.FormEntry",
              data-win-options="{label:'User name', name:'user-name', hint:'Entre your user name', type:'text', confirm:false, validation:{async:false, checkPoint:''}, constraints: #{loginConstraints} }")

        - var emailConstraints = "{ presence: true, email: true }"
        .entry(data-win-control="MajesticWaffle.UI.FormEntry",
              data-win-options="{label:'Email', name:'email', hint:'Entre the email you want to associate to this account', type:'email', confirm:false, validation:{async:false, checkPoint:''}, constraints: #{emailConstraints} }")

        - var countryConstraints = "{ presence: true }"
        .entry(data-win-control="MajesticWaffle.UI.FormEntry",
              data-win-options="{label:'Country', name:'country', hint:'Select your country', type:'MajesticWaffle.UI.FormDropDown', dataOptions: {data: NightlyTrex.countries}, confirm:false, validation:{async:false, checkPoint:''}, constraints: #{countryConstraints} }")
        
        - var birthdayConstraints = "{ presence: true, date: { latest: MajesticWaffle.Utilities.underage, message: '^You must be at least 18 years old to use this service' } }"
        .entry(data-win-control="MajesticWaffle.UI.FormEntry",
              data-win-options="{label:'Birthday', name:'birthday', hint:'Enter your birthday', type:'WinJS.UI.DatePicker', confirm:false, validation:{async:false, checkPoint:''}, constraints: #{birthdayConstraints} }")
        
        .change-password
          a.win-button.win-button-primary(data-win-control="MajesticWaffle.UI.Link", data-win-options="{scenario: NightlyTrex.scenarios[11]}") Change password

  script(src="/assets/components/majestic-waffle/StepsAssistant/modules/Step.js")
  script(src="/assets/components/majestic-waffle/StepsAssistant/StepsAssistant.js")
  script(src="/assets/components/majestic-waffle/FormEntry/FormEntry.js")
  script(src="/assets/components/majestic-waffle/FilePicker/FilePicker.js")
  script(src="/assets/components/majestic-waffle/FormEntriesSummery/FormEntriesSummery.js")
  script(src="/assets/js/views.scripts/account/profile.edit.js")
