include ../../includes/views-main

- title = "Nightly T-REX";

+main
  
  //- header
  //-   button(data-win-control="MajesticWaffle.UI.Link") 
  //-   h2.win-h2.win-type-subtitle User Profile      
    
  #user-details-template(data-win-control="WinJS.Binding.Template", data-win-options="{href: '/templates/user-details.html'}")
  #user-details

  script(src="/assets/js/views.scripts/account/profile.js")


