include ../../includes/views-main

- title = "Nightly T-REX | Change account password";

+main

  header
    button(data-win-control="WinJS.UI.BackButton")
    h2.win-h2.win-type-subtitle Change account password

  #user-details

    #change-password-steps(name="account.profile.edit", data-win-control="MajesticWaffle.UI.StepsAssistant", data-win-options="{}")
      
      .change.step

        - var passwordConstraints = "{ presence: true, length: { minimum: 5, maximum: 20 } }"
        .entry(data-win-control="MajesticWaffle.UI.FormEntry",
              data-win-options="{label:'old password', name:'old-password', hint:'Entre your old the password', type:'password', validation:{async:false, checkPoint:''}, constraints: #{passwordConstraints} }")

        .entry(data-win-control="MajesticWaffle.UI.FormEntry",
              data-win-options="{label:'new password', name:'new-password', hint:'Entre the new password', type:'password', confirm:true, validation:{async:false, checkPoint:''}, constraints: #{passwordConstraints} }")


  script(src="/assets/js/views.scripts/account/profile.change-password.js")