include ../includes/views-main

+main

  #score-item-template(data-win-control="WinJS.Binding.Template" style="display: none")
    .score-item
      .score-owner-ranking
        span &#x0023;
        span(data-win-bind="innerText: ranking")
      img.score-owner-image(src="#" data-win-bind="src: avatar")
      .score-owner-details
        h4.win-h4(data-win-bind="textContent: name")
        p.score(data-win-bind="textContent: score")

  //- #headerPlaceholder
  //-   .header
  //-     p No Scores was recorded yet
  //-     p Be the first &#x263A;
  //-   header: select('#headerPlaceholder .header'),

  //- #footerPlaceholder
  //-   .footer
  //-     .status
  //-       p.win-type-caption Loading
  //-       .progress(data-win-control="MajesticWaffle.UI.FlyingDots", data-win-options="{showOnRender: true}")

  - var scoresListViewOptions = "{ itemTemplate: select('#score-item-template'), selectionMode: 'none', tapBehavior: 'none', layout: { type: WinJS.UI.ListLayout } }"
  //-  onfootervisibilitychanged: NightlyTrex.scoresListFooterVisibility,
  //-  footer: select('#footerPlaceholder .footer'),

  #scores-listview.win-selectionstylefilled(data-win-control="WinJS.UI.ListView",
                                            data-win-options="#{scoresListViewOptions}",
                                            data-win-bind="winControl.itemDataSource : data.dataSource")
