include ../includes/views-main

- title = "Nightly T-REX | User Profile";

+main

  header
    button.win-navigation-backbutton(data-win-control="MajesticWaffle.UI.Link", data-win-options="{scenario: NightlyTrex.scenarios[4]}")
      span.win-back
    h2.win-h2.win-type-subtitle User Profile

  .header
    img.profile-picture(data-win-bind="src: avatar")
    p.user-login.win-type-title(data-win-bind="innerText: name")
    button#edit-profile.win-command(data-win-control="MajesticWaffle.UI.Link", data-win-options="{scenario: NightlyTrex.scenarios[10]}")
      span.win-commandicon
        span.win-commandimage.win-commandglyph &#xE104;
      span.win-label Edit profile

  .details
    .email
      p.win-type-base Email:
        span(data-win-bind="innerText: email")
    .birthday
      p.win-type-base Birthday:
        span(data-win-bind="innerText: birthday NightlyTrex.Binding.displayDatesBind")
    .country
      p.win-type-base From:
        span(data-win-bind="innerText: country")
    
    hr

  .scores

    h3.win-h3.win-type-subtitle Scores:

    #user-score-item-template(data-win-control="WinJS.Binding.Template", style="display: none")
      .score-item
        p.score(data-win-bind="textContent: score")
        p.date-scored Scored on: 
          span(data-win-bind="textContent: date_recorded NightlyTrex.Binding.displayDatesBind")

    #user-scores.win-selectionstylefilled(data-win-control="WinJS.UI.ListView", 
                                          data-win-options="{ itemTemplate: select('#user-score-item-template'), selectionMode: 'none',  tapBehavior: 'none', layout: { type: WinJS.UI.ListLayout } }",
                                          data-win-bind="winControl.itemDataSource : scores.dataSource")