include ../includes/views-main

- title = "Nightly T-REX | About Nightly T-Rex";

+main

  header
    button(data-win-control="WinJS.UI.BackButton")
    h2.win-h2.win-type-subtitle About Nightly T-REX

  .about

    img.logo(src="/assets/images/logo.png")
    

    h3.win-h3.win-type-subtitle Who is Nightly T-REX ?

    p Nightly T-REX, is just an other "jumping T-REX" that escaped Google Chrome's NetError page. He only runs by night, to avoid getting trapped again

    p Now he lives freely in the open World Wide Web, spreading joy and rewards

    h3.win-h3.win-type-subtitle How to play and get rewards ?

    p As easy as it gets, start jumping to avoid obstacles, set new hiscores to beat other players, by the end of the week you might be the one who gets the reward :D

    h3.win-h3.win-type-subtitle About the rewards:

    p Rewards are not distributed nor given by Nightly T-REX Team, instead they are handled by the great people at 
      a.win-link(href="http://kiip.net/", target="_blank") KIIP

    p And Nightly T-REX herbally expresses that we are not an affiliate nor a part of 
      a.win-link(href="http://kiip.net/", target="_blank") KIIP
      | . For rewards related issues please contact 
      a.win-link(href="http://kiip.net/", target="_blank") KIIP

    h3.win-h3.win-type-subtitle Copyright stuff

    p Nightly T-REX is a fork for the tremendious work done by the Chromium Browser team, and all the copyrights associatd with the Runner, Images, Sounds and the T-REX are held by the Chromium Project team, and  is governed by a BSD-style license that can be found in the LICENSE file

    p As of the rest of ressources, they are owned by the Nightly T-REX team.

    p For any inqueries including the source code of Nightly T-REX, please drop me an 
      a.win-link(href="mailto:souhail.razzouk@hotmail.com") Email
