include ../includes/views-main

- title = "Nightly T-REX";

+main
  
  header
    button(data-win-control="WinJS.UI.BackButton")
    h2.win-h2.win-type-subtitle Read Me
  
  article#content(data-win-control="MajesticWaffle.UI.MarkdownViewer", data-win-options="{}")

  script(src="/assets/js/views.scripts/article.js")
  script(src="/assets/components/majestic-waffle/MarkdownViewer/MarkdownViewer.js")
