include ../includes/views-main

- title = "Nightly T-REX";

+main
  
  header
    #user-credits-template(data-win-control="WinJS.Binding.Template", style="display: none;")
      .user-image
        img#user-avatar(data-win-bind="src: avatar")
      h2.win-h2.win-type-subtitle.win-type-ellipsis.user-login#user-login(data-win-bind="innerText: name")
    
    #user-credits-menu

    button#goto-shop(data-win-control="MajesticWaffle.UI.Link", data-win-options="{scenario: NightlyTrex.scenarios[12]}") 
      span &#xE14D;
      span.title Shop
    button#goto-scores(data-win-control="MajesticWaffle.UI.Link", data-win-options="{scenario: NightlyTrex.scenarios[5]}") 
      span &#xE179;

  .main-container

    #game-view

    #tips
      p 

    #hi-score-template(data-win-control="WinJS.Binding.Template", style="display: none;")
      p(data-win-bind="innerText: hiScore")
    
    #save-score-dialog(data-win-control="WinJS.UI.ContentDialog", data-win-options="{primaryCommandText:'Save', secondaryCommandText:'Cancel', title:'Save Score'}")
      p Save your current Hi Score
      label.win-type-base Hi Score: 
      #hi-score

    #about-dialog(data-win-control="WinJS.UI.ContentDialog", data-win-options="{primaryCommandText:'Close', title:'About Nightly T-REX'}")
      p Version: 2.5.0_Beta
      p Build: 206
      a.win-link(data-win-control="MajesticWaffle.UI.Link", data-win-options="{scenario: NightlyTrex.scenarios[6]}") FAQ
      p Get Social: 
      .socials
        a.win-link.facebook(href="https://www.facebook.com/NightlyTrex", title="Nightly T-REX Facebook page", target="_blank")

  include ../includes/resources/all-resources

  #user-menu(data-win-control="WinJS.UI.Menu", data-win-options="{}")
    button#myprofile-command(data-win-control="WinJS.UI.MenuCommand", data-win-options="{label:'My Profile', type:'button'}")
    button#fullscreen-command(data-win-control="WinJS.UI.MenuCommand", data-win-options="{label:'Toggle Full Screen', type:'button'}")
    button#about-command(data-win-control="WinJS.UI.MenuCommand", data-win-options="{label:'About', type:'button'}")
    hr(data-win-control="WinJS.UI.MenuCommand" data-win-options="{type: 'separator'}")
    button#logout-command(data-win-control="WinJS.UI.MenuCommand", data-win-options="{label:'Logout', type:'button'}")

  footer
    include ../includes/appbar

  script(src="/assets/js/new-trex.js")
  script(src="/assets/js/views.scripts/game.js")
