include ../includes/views-main

- title = "Nightly T-REX | Scores board";

+main

  header.scores-header
    button(data-win-control="WinJS.UI.BackButton")
    h2.win-h2.win-type-subtitle Scores
  
  div.text

  #scores-list-template(data-win-control="WinJS.Binding.Template", data-win-options="{href: '/templates/scores-list.html'}")

  #scores-list

  script(src="/assets/js/views.scripts/scores.js")