include ../includes/views-main

- title = "Home";

+main
  
  .splash
    #logo
      img(src="/assets/images/logo-small.png")
      h1.title Nightly T-REX

    #progress-ring(data-win-control="MajesticWaffle.UI.LoadingRing", data-win-options="{showOnRender: true}")

  script(src="/assets/js/views.scripts/splash.js")