.about{
  width: 100%;
  height: calc(100% - 41px);
  padding: 0 15px 15px;
  position: absolute;
  top: 41px;
  box-sizing: border-box;
  overflow-y: scroll;

  .logo {
    display: block;
    margin: 0 auto;
    width: 170px;
  }
}