@import "../settings";

#user-details{
  
  height: 100%;
  overflow-y: scroll;

  header{
    position: relative;
    top: 0;
  }

  .header{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 1em 0 0;
    text-align: center;
    background: rgba(255,255,255,.2);
    
    .profile-picture{
      height: 100px;
      width: 100px;
      margin: 5px auto;
      border-radius: 50%;
    }

    #edit-profile{
      position: absolute;
      top: 0;
      right: 0;


      @media #{$extra-large-devices-and-up} {
        right: calc(50% - 450px);
      }
 
    }
  }

  .change-password{
    display: block;
    margin: 20px 0 30px;

    a{
      background: $danger-color;
    }
  }

  .details, .scores{
    max-width: 900px;
    margin: 1em auto;
    padding: 0 1em;
    box-sizing: border-box;

    p {
      font-weight: 500; 

      & > span {
        display: inline;
        margin: 0 1em;
        font-weight: 400;
      }
    }
  }

  .profile-picture-wrapper{
    display: flex;
    flex: 1 1 0%;

    #profile-picture-entry{
      flex-grow: 2;
      width: calc(100% - 110px);
    }

    img{
      height: 100px;
      width: 100px;
      border-radius: 50%;

      @media #{$small-devices-and-up} {
        margin: 11px 0 8px 8px;
      }

      @media #{$large-devices-and-up} {
        margin-top: 55px;
      }
    }
  }

  #user-scores{
    height: 250px;
    margin: 1em 0;

    .win-container{
      margin: 10px 5px 0;

      @media #{$medium-devices-and-up} {
        margin-right: 25px;
      }
    }
    
    .win-itembox{
      padding: 5px 10px;
      box-sizing: border-box;
      background: rgba(255,255,255,.1);
    }

    .score-item{
      display: flex;
      flex: 1 1 0%;

      p{
        margin: 5px;

        &.score{
          flex-grow: 2;
          font-family: $font-family-Joystix;
        }

        &.date-scored{
          font-size: 12px;
          color: rgba(255,255,255,0.7);
          line-height: 1.5;
          margin: 5px 0;

          span {
            margin: 0 0 0 2px
          }
        }
      }

    }
  }

}
  