#connect-account-steps {

  .user-credits {
    padding: 15px 0;
  }

  .user-image {
    height: 100px;
    margin: 0 0 10px;

    img{
      display: block;
      height: 100%;
      margin: 0 auto;
    }
  }

  .user-login {
    text-align: center;
  }

  #forgot-password-link, #wrong-user-link{
    display: block;
  }

}