@import "../settings";

$horizon-line: 55.625%;

header{
  
  #user-credits-menu{
    display: inline-flex;
    align-items: center;
    flex: 1 1 0%;
    height: 41px;

    .user-image {
      padding: 0 5px 0 15px;
      box-sizing: border-box;
      height: 100%;

      img{
        width: 29px;
        border-radius: 50%;
        margin: 6px 4px 6px 0px;
      }
    }

    .user-login {
      vertical-align: top;
      max-width: 125px;
      margin: 0;
    }

    &:after{
      content: "\E019";
      font-size: 12px;
      margin: 5px 10px 0;
    }
  }

  #goto-scores, #goto-shop{
    flex: 0 0 auto;
    background: transparent;
    width: 41px;
    height: 41px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: 0;

    span{
      font-family: $font-family-Segoe;
    }

    &:hover{
      background: rgba(255, 255, 255, 0.1);
    }

    &:active {
      background: rgba(255, 255, 255, 0.2);
    }  
  }

  #goto-shop {
    width: auto;
    background: rgba(0, 120, 215, 1);
    .title{
      font-size: 14px;
      margin: 2px 0 5px 5px;
      padding: 2px 0;
      height: 5px;
      vertical-align: calc(0% + 2px);
    }

    &:hover{
      background: rgba(0, 155, 250, 1);
    }
  }
}


.main-container{
	height: 100%;
	width: 100%;
	text-align: center;
	background: url('../images/bg.png') repeat-x;
	background-size: 1px 100%;

  #save-score-dialog, #about-dialog{
    text-align: left;
  }

  #save-score-dialog{
    #hi-score{
      font-family: $font-family-Joystix;
    }
  }

  #about-dialog {
    .socials{
      list-style: none;
      margin: 5px 0;
      padding: 0;
      display: flex;
      
      a{
        width: 40px;
        height: 40px;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      .facebook{
        background-image: url('/assets/images/Facebook.png');
      }
    }
  }

  &:before,
  &:after{
    content: '';
    border-top: 1px solid #e0e0e0;
    display: inline-block;
    position: absolute;
    top: #{$horizon-line};
    width: calc(50% - 450px);
  }

  &:after{
    right: 0;
  }

  &:before{
    left: 0;
  }

}

#trex-runner{
	display: inline-block;
	width: 100%;
	max-width: 900px;
	position: absolute;
	top: calc(#{$horizon-line} - 131px);
  left: 0;

  @media (min-width: 900px){
    left: calc((100% - 900px) / 2);
  }
}

.controller {
  background: rgba(255,255,255, .0);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#tips {
  position: absolute;
  top: calc(#{$horizon-line} + 9px);
  left: 0;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;

  p{
    font-family: "Joystix";
    font-size: .85em;
    text-align: left;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    // letter-spacing: .01em;
    word-spacing: -.5em;

    .symbol {
      font-family: "Segoe UI", sans-serif, "Segoe MDL2 Assets", "Symbols";
      font-size: 14px;
    }
  }
}