#products{
  position: relative;
  top: 41px;
  padding: 1em 0;
  box-sizing: border-box;
  height: 100%;

  #products-list {
    height: calc(100% - 41px);

    .win-container{
      margin: 10px 5px 0;

      @media #{$medium-devices-and-up} {
        margin-right: 25px;
      }
    }
    
    .win-itembox{
      padding: 5px 10px;
      box-sizing: border-box;
    }

   .product-item {
      // height: 90px;
      display: flex;
      flex: 1 1 0%;

      .product-picture{
        height: 60px;
        margin: 5px 5px 5px 0;
        @media #{$medium-devices-and-up} {
          height: 80px;
        }
      }

      .product-details{
        flex-grow: 2;
        width: calc(100% - 65px);
        padding: 5px 0;

        .product-title{
          line-height: 1.5;
          @media #{$small-devices-and-up} {
            font-size: 20px;
            font-weight: 400;
          }
        }
      }

      .product-link {
        position: absolute;
        bottom: 5px;
        right: 0;
        box-sizing: border-box;
      }
    }

  }
}