// header.scores-header{ 
//   position: static;

//   .win-navigation-backbutton,
//   .win-back{
//     width: 48px;
//     height: 48px;
//   }
//   .win-back:before {
//     vertical-align: middle;
//   }

//   h2{
//     margin:  0 9px;
//   }
// }

.text p{
  padding: 0 15px;
}

#scores-list{
  position: relative;
  top: 41px;
  height: 100%;
}

#scores-listview{
  height: calc(100% - 101px);

  .header{
    p{
      padding: 0 15px;
    }
  }

  .win-container{
    margin: 10px 5px 0;

    @media #{$medium-devices-and-up} {
      margin-right: 25px;
    }
  }
  
  .win-itembox{
    padding: 5px 10px;
    box-sizing: border-box;
  }

  .score-owner-ranking{
    display: inline;
    font-size: 1.2em;
    font-weight: 600;
    vertical-align: middle;

    span{
      display: inline;
    }

  }

  .score-owner-image {
    width: 25px;
    display: inline-block;
    margin: 5px 10px;
    vertical-align: middle;
  }

  .score-owner-details {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;

    h4{
      font-size: 1.2em;
    }
    .score{
      font-size: 1em;
      margin: 0;
      font-family: "Joystix";
    }
  }

  .header{
    text-align: center;
  }

  .footer{
    .status{
      text-align: center;
      div{
        margin: 5px 0;
      }
    }
  }
  
}