.splash {
  width: 100%;
  height: 100%;

  #progress-ring {
    @include centered-block(100%, auto);
    top: calc(50% - 81px);
  }
}

.splash > #logo {

  @include centered-block(100%, 162px);
   
  img {
    display: block;
    margin: 0 auto;
  }
  
  .title {
    font-family: "Joystix";
    font-size: 20px !important;
    font-weight: normal;
    text-align: center;
    margin: 15px 0 0;

    @media #{$small-devices-portrait} {
      font-size: 2.5rem;
      overflow: visible;
      margin: 15px -1em 0;
    }
    
    @media #{$small-devices-landscape}, #{$medium-devices-landscape} {
      font-size: 2.5rem;
      margin: 20px 0 0;
    }
  }
}