include ../../includes/views-main

- title = "Nightly T-REX";

+main
  
  header
    button(data-win-control="WinJS.UI.BackButton")
    h2.win-h2.win-type-subtitle Shop
  
  #products
    
    #product-item-template(data-win-control="WinJS.Binding.Template", style="display: none;")
      .product-item
        img.product-picture(data-win-bind="src : picture")
        .product-details
          h3.win-h3.product-title.win-type-ellipsis(data-win-bind="innerText: title")
          p.variants-number.win-type-caption Variants :
            span(data-win-bind="innerText: variants")
        a.product-link.win-button.win-button-primary(data-win-bind="href: url", target="_blank") Buy Now 
          span(data-win-bind="innerText: price") 
          |  $
          

    #products-list(data-win-control="WinJS.UI.ListView", 
                   data-win-options="{ itemTemplate: select('#product-item-template'), selectionMode: 'none',  tapBehavior: 'none', layout: { type: WinJS.UI.ListLayout } }")

  script(src="/assets/js/views.scripts/shop/products.js")
