@font-face {
  font-family: 'Joystix';
  src: url('./fonts/Joystix/Joystix.eot?#iefix') format('embedded-opentype'),  
       url('./fonts/Joystix/Joystix.otf')  format('opentype'),
	     url('./fonts/Joystix/Joystix.woff') format('woff'), 
       url('./fonts/Joystix/Joystix.ttf')  format('truetype'), 
       url('./fonts/Joystix/Joystix.svg#Joystix') format('svg');
  font-weight: normal;
  font-style: normal;
}