#go-shop-dialog{
  #goto-shop{
    margin: 10px auto 15px;
    display: block;
    height: 45px;
    width: 100%;
    background: rgba(16, 124, 16, 1);
    font-size: 17px;
    .title{
      margin: 5px 10px;
    }
  }
}

#products-thumbs-flipview{
  height: 170px;
  max-width: 480px;  
  background: rgba(255, 255, 255, .5);  
}

.product-thumb {
  width: 100%;
  max-width: 480px;
  height: 200px;
  
  img {
      width: 110px;
      height: 110px;
      margin:  30px auto;
      display: block;
  }

  .product-type-title {
    position: absolute;
    background-color: rgba(0,0,0,0.65);
    height: 40px;
    padding: 5px 10px;
    overflow: hidden;
    width:100%;
    bottom:0;
    box-sizing: border-box;
    
    p {
      color: rgba(255, 255, 255, 0.8);
      margin: 0;
      font-weight: 600;
    }
  }

}


