@import "fonts";
@import "settings";
@import "mixins";
@import "utilities.scss";

main#app{
	height: 100%;
	width: 100%;
	background: transparent;
}

header{
	position: absolute;
	z-index: 2;
	display: flex;
	width:  100%;
	align-items: center;
	background: rgba(255,255,255,.05);
}

@import "pages/splash";
@import "pages/account.create";
@import "pages/account.connect";
@import "pages/account.profile";
@import "pages/account.forgot";
@import "pages/game";
@import "pages/scores";
@import "pages/article";
@import "pages/about";
@import "pages/products";
@import "alerts";
@import "front-products";