//- img#offline-resources-1x(src="assets/images/trex_small.png", jstcache="0")
//- img#offline-resources-2x(src="assets/images/trex_big.png", jstcache="0")

img#offline-resources-1x(src="/assets/images/resources-sprite_small.png")
img#offline-resources-2x(src="/assets/images/resources-sprite_big.png")