include includes/main

- title = "Nightly Trex";

+main
  #mw-alerts-stack.mw-alerts-stack

  #fb-root
  script.
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1464022996961921";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  main#app

  #outdated
  
  #no-rewards-dialog(data-win-control="WinJS.UI.ContentDialog", data-win-options="{primaryCommandText:'Close', title:'Oops !'}")
    
    p Good job !! but Nightly T-REX team and the Trex himself are sorry;
    p No rewards are available for you in this moment

  #like-page-dialog(data-win-control="WinJS.UI.ContentDialog", data-win-options="{primaryCommandText:'Close', title:'Show your love ❤'}")
    
    p Like the game ?? &#x263A;
    p Show your love by liking our page on Facebook &#x263A;

    #like-button-content.fb-like(data-href='https://www.facebook.com/NightlyTrex/', data-width='250', data-layout='standard', data-action='like', data-size='small', data-show-faces='true', data-share='true')

  #go-shop-dialog(data-win-control="WinJS.UI.ContentDialog", data-win-options="{primaryCommandText:'Close', title:'Shop with Nightly T-REX'}")

    p Like the game ?? &#x263A;
    p Show your love and support and get yourself some Nightly T-REX swag.
    
    button#goto-shop.win-button(data-win-control="MajesticWaffle.UI.Link", data-win-options="{scenario: NightlyTrex.scenarios[12]}") 
      span &#xE14D;
      span.title Shop

    #product-thumb-template(data-win-control="WinJS.Binding.Template", style="display: none;")
      .product-thumb
        img(data-win-bind="src: picture")
        .product-type-title
          p(data-win-bind="innerText: type")

    #products-thumbs-flipview(data-win-control="WinJS.UI.FlipView", data-win-options="{itemTemplate: select('#product-thumb-template'), itemDataSource: NightlyTrex.Shop.frontProducts.dataSource}")
