#game-appbar(data-win-control="WinJS.UI.AppBar", data-win-options="{sticky: true, placement: 'bottom'}")
  button(data-win-control="WinJS.UI.AppBarCommand", data-win-options="{id:'cmdPlay', hidden:true, label:'Play', icon:'play', section:'global', tooltip:'Resume your game play'}")
  //- hr(data-win-control="WinJS.UI.AppBarCommand", data-win-options="{type:'separator',section:'global'}")
  button(data-win-control="WinJS.UI.AppBarCommand", data-win-options="{id:'cmdPause', hidden:true, label:'Pause', icon:'pause', section:'global', tooltip:'Pause the game'}")
  button(data-win-control="WinJS.UI.AppBarCommand", data-win-options="{id:'cmdRestart', hidden:true, label:'Restart', icon:'refresh', section:'selection', tooltip:'Restart the game'}")
  button(data-win-control="WinJS.UI.AppBarCommand", data-win-options="{id:'cmdSaveScore', hidden:true, label:'Save Score', icon:'save', section:'selection', tooltip:'Save your current high score'}")