title #{title} [#{mode} Mode] 
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

meta(property="og:url", content="https://www.facebook.com/NightlyTrex")
meta(property="og:type", content="website")
meta(property="og:title", content="Nightly T-REX")
meta(property="og:description", content="Run, Jump and Win !!")
meta(property="og:image", content="http://nightlytrex.azurewebsites.net/assets/images/social_promo.png")

link(rel="icon", href="favicon.ico")
link(rel="stylesheet", href="/assets/components/winjs/css/ui-dark.css")
link(rel="stylesheet", href="/assets/components/outdated-browser/outdatedbrowser/outdatedbrowser.css")
link(rel="stylesheet", type="text/css", href="/assets/styles/app.css")
style