include variables

mixin main

  doctype html
  
  html
    head
      include head
      //- Vendor components
      script(src="/assets/components/winjs/js/base.js")
      script(src="/assets/components/winjs/js/ui.js")
      script(src="/assets/components/moment/moment.js")
      script(src="/assets/components/validate/validate.js")
      script(src="/assets/components/backand-vanilla-sdk/dist/backand.js")
      script(src="/assets/components/screenfull/dist/screenfull.js")
      script(src="/assets/components/outdated-browser/outdatedbrowser/outdatedbrowser.js")
      script(src="/assets/components/markdown/lib/markdown.js")
      //- App specific scripts
      script(src="/assets/js/Utilities.js")
      script(src="/assets/js/Binding.js")
      script(src="/assets/js/DataServices.js")
      //- Controls needed at app start
      script(src="/assets/components/majestic-waffle/Navigation.js")
      script(src="/assets/components/majestic-waffle/Utilities.js")
      script(src="/assets/components/majestic-waffle/Link/Link.js")
      script(src="/assets/components/majestic-waffle/Alert/Alert.js")
      script(src="/assets/components/majestic-waffle/FormEntry/modules/FormInput.js")
      script(src="/assets/components/majestic-waffle/FormEntry/modules/FormEntryValidator.js")
      script(src="/assets/components/majestic-waffle/FormDropDown/FormDropDown.js")
      script(src="/assets/components/majestic-waffle/LoadingRing/LoadingRing.js")
      script(src="/assets/components/majestic-waffle/FlyingDots/FlyingDots.js")
      script(src=src="//d3aq14vri881or.cloudfront.net/kiip.js")
      script(src="https://cdn.socket.io/socket.io-1.4.5.js")
      script(src="/assets/js/app.js")

    body.win-type-body
      
      if block
        block

      include scripts
